.frontend {
    margin-top: 70px;
}

.admin-nav{
    margin-top: 10px;
    margin-bottom: 20px;
}

.list_controls{
    clear: both;
}

.list_controls .btn{
    float : right;
}

.list_controls li > .tooltip .tooltip-inner {
    width : 200px !important;
}

.list_controls .nav{
    margin-left: 0px;
    float : left;
}

.list_controls .nav-pills li a{
    padding: 7px 15px !important;
}

.list_controls .nav-pills li.active a{
    color: #fff;
    background-color: #e45735;
}

.list_controls .nav-pills li a:hover{
    color: #e45735;
    background-color: #f7cdc2;
}

.list_controls .category-breadcrumb {
    background-color: #e6e6e6;
    color: #000;
}

.list-topic{
    clear: both;
    margin-top: 20px;
}

.list-topic thead{
    background-color: #fafafa;
}

.list-topic th{
    color: #919191;
    font-weight: normal;
    font-size: 1em;
}

.list-topic td{
    padding: 12px 5px !important;
}

.list-topic td:first-of-type {
    padding-left: 10px;
    width: 60%;
}

.list-topic td a{
    text-decoration: none;
    cursor: pointer;
}

.list-topic td.title a{
    color: #222;
}

.list-topic td.replies, td.views {
    font-weight: bolder;
    color: black;
}

.category-breadcrumb{
   float : left;
    margin-right: 10px;
}

span.badge-category-bg{
    width: 10px;
    height: 10px;
    margin-right: 5px;
    display: inline-block;
    line-height: 1;
}

.admin-list-category .category-color{
    width : 2%;
}

.admin-list-category .td-controls{
    width : 30%;
}

.navbar-brand{
    padding-top: 5px !important;
}